@font-face {
  font-family: 'Gotham';
  src: url('../Fuentes/Gotham-Light.otf') format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: 'Gotham';
  src: url('../Fuentes/Gotham-Book.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'Gotham';
  src: url('../Fuentes/Gotham-Medium.otf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'Gotham';
  src: url('../Fuentes/Gotham-Bold.otf') format('opentype');
  font-weight: 700;
}
@font-face {
  font-family: 'Gotham';
  src: url('../Fuentes/Gotham-Black.otf') format('opentype');
  font-weight: 900;
}

:root {
  --font-title: 'Gotham', sans-serif;
  --font-body:  'Gotham', sans-serif;
}

body {
  font-family: var(--font-body);
}